@import "common.scss";
@import "mixin";

html,body{
  @include percentage100;
  overflow: hidden;
}
.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: url("../../static/image/brand.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#brand{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .top {
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
  }
  .rollout {
    width: 2.9rem;
    height: 1.24rem;
    @include auto;
    margin-top: 0.76rem;
    > img {
      @include imgBlock;
    }
  }
  .pk{
    width: 100%;
    display: block;
    margin-top: -0.2rem;
  }
  .content{
    width: 100%;
    height: calc(100% - 6.7rem);
    overflow-y: scroll;
    ul.list{
      width: 6.35rem;
      height: auto;
      margin:0 auto;
      > li{
        width: 100%;
        height: .8rem;
        line-height: .8rem;
        border-bottom:  1px dotted rgba(101,245,255,0.3);
        box-sizing: border-box;
        > a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          > span{
            color: #65f5ff;
            font-size: 0.26rem;
            &:nth-child(1){
              width: 60%;
            }
            &:nth-child(2){
              width: .8rem;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.nav {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  > ul {
    width: 100%;
    height: 100%;
    > li {
      width: 20%;
      float: left;
      height: 100%;
      text-align: center;
      > a {
        display: block;
        width: 100%;
        height: 100%;
        color: #1a2124;
        &:active{
          color:#ca7e11;
          font-weight: bold;
          > h1 {
            font-weight: bold;
          }
        }
        > img {
          height: 80%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
        > div {
          height: 60%;
          span {
            font-size: 30px;
            line-height: .6rem;
          }
        }
        > h1 {
          height: 60%;
          font-weight: normal;
          font-size: 14px;
          line-height: .4rem;
        }
      }

    }
  }
}