body {
  font-size: 14px;
}

ul, li, a, p, body, html, ol, pre, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-decoration: none;
}

* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;//安卓不支持
  -webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
  user-select:none;
  -webkit-tap-highlight-color:rgba(255,255,255,0) ;
}

p {
  max-height: 9999999px
}

