body {
  background-color: #000; }

.first {
  width: 100%;
  background-image: url("../../static/image/bis-bgs.png");
  background-size: 100% auto;
  background-repeat: no-repeat; }

.first .top {
  display: block;
  width: 100%; }

.first .logo {
  display: block;
  width: 100%; }

.first .header {
  height: 1.32rem;
  text-align: center;
  position: relative; }

.first .header > img {
  width: 3.29rem; }

.first .header .num {
  width: 2rem;
  height: .8rem;
  position: absolute;
  left: .2rem;
  top: .25rem;
  color: #15f6fd; }

.first .header .num span {
  vertical-align: middle;
  line-height: .8rem; }

.first .header .num input {
  width: .6rem;
  height: .5rem;
  background: none;
  outline: none;
  border: 1px solid #15f6fd;
  color: #15f6fd;
  box-shadow: 0 0 0.1rem #15f6fd inset;
  vertical-align: middle;
  font-weight: bold;
  text-align: center; }

.first .header .num2 {
  width: 1.42rem;
  height: .55rem;
  position: absolute;
  right: .3rem;
  top: .4rem;
  color: #15f6fd;
  background-image: url("../image/mashu5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; }

.first .video {
  width: 6.7rem;
  height: 4rem;
  box-sizing: border-box;
  margin: .5rem auto 0 auto; }

.first .video > video {
  width: 100%;
  height: 100%;
  border: 1px solid #15f6fd; }

.first .jieshao {
  width: 6.7rem;
  height: .58rem;
  line-height: .58rem;
  font-size: .24rem;
  color: #15f6fd;
  text-align: center;
  display: flex;
  margin: .3rem auto;
  justify-content: space-between; }

.first .jieshao > span:last-child {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 1.64rem;
  background-image: url("../image/mashunext.png"); }

.first .dou {
  width: 6.7rem;
  margin: .4rem auto;
  color: #15f6fd; }

.first .dou .list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .2rem;
  font-size: .3rem; }

.first .dou .list:nth-child(2n) {
  width: 5.38rem; }

.first .dou .list .left {
  flex: auto;
  text-align: right;
  font-weight: bold; }

.first .dou .list .right {
  width: 1.65rem;
  height: .5rem;
  background: #173133;
  font-weight: bold;
  line-height: .5rem;
  margin-left: .2rem;
  margin-right: .4rem;
  padding: 0 .1rem;
  box-sizing: border-box; }

.first .dou .list .center {
  width: 1.32rem;
  height: .44rem;
  background-image: url("../image/mashu-user.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; }

.first .l {
  width: 6.7rem;
  margin: .5rem auto;
  height: 1.1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: .26rem;
  color: #15f6fd;
  text-align: center;
  letter-spacing: 1px; }

.first .l .l-one {
  width: 2.14rem;
  height: 100%;
  background-image: url("../../static/image/ma1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  line-height: 1.1rem; }

.first .l .l-two {
  width: 2.5rem;
  height: 100%;
  background-image: url("../../static/image/ma2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: .2rem 0;
  letter-spacing: 0;
  box-sizing: border-box; }

.first .l .l-three {
  width: 1.6rem;
  height: 100%;
  background-image: url("../../static/image/ma3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  line-height: 1.1rem; }

ul.select {
  width: 6.7rem;
  margin: 0 auto; }

ul.select .list {
  height: 2.83rem;
  border-bottom: 1px dotted #15f6fd;
  padding: .4rem 0;
  box-sizing: border-box; }

ul.select .list.active {
  background-color: rgba(192, 172, 102, 0.35); }

ul.select .list .top {
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

ul.select .list .top .left {
  width: 4.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start; }

ul.select .list .top .left > img {
  height: 100%;
  margin-right: .28rem; }

ul.select .list .top .right {
  width: 1.32rem;
  height: .44rem;
  background-image: url("../../static/image/a.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-size: .24rem;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: .44rem; }

ul.select .list .bottom {
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .25rem;
  color: #15f6fd; }

ul.select .list .bottom > div > span, ul.select .list .bottom > div input {
  display: inline-block;
  width: 1rem;
  height: .4rem;
  background-color: #143133;
  text-align: center;
  margin: 0 .1rem;
  border: none;
  outline: none;
  color: #15f6fd; }

ul.select .list .bottom > div > span {
  line-height: .4rem; }

img.select {
  width: 3.29rem;
  display: block;
  margin: .4rem auto; }

.imglist {
  width: 6.7rem;
  margin: 0 auto;
  display: none; }

.imglist > ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between; }

.imglist > ul > li {
  position: relative;
  width: 1.5rem;
  height: 2rem;
  margin-bottom: .4rem; }

.imglist > ul > li .card {
  perspective: 80rem;
  position: relative;
  width: 100%;
  height: 1.37rem;
  transition: all ease-in-out 400ms;
  cursor: pointer; }

.imglist > ul > li .card .card__side {
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 8px; }

.imglist > ul > li .card .card__side > img {
  width: 100%;
  height: 100%; }

.imglist > ul > li .card .card__side--front {
  z-index: 2; }

.imglist > ul > li .card .card__side--back {
  transform: rotateY(180deg);
  z-index: 1; }

.imglist > ul > li .card .showGreen {
  transform: rotateY(-180deg); }

.imglist > ul > li .card .showRed {
  transform: rotateY(0); }

.imglist > ul > li .btn {
  height: .6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.imglist > ul > li .btn div {
  width: .7rem;
  height: .3rem;
  background-image: url("../../static/image/ss.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-size: .20rem;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: .3rem; }

.last {
  width: 6.7rem;
  height: 1.56rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around; }

.last a {
  width: 2rem;
  height: .78rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("../../static/image/mashu2.png");
  font-size: .3rem;
  color: #15f6fd;
  line-height: .78rem;
  font-weight: bold;
  text-align: center; }

#more {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; }

#more.active {
  display: block; }

#more .box {
  width: 6.57rem;
  height: 8.18rem;
  background-image: url("../../static/image/mingxi.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  box-sizing: border-box;
  padding: 1.68rem .4rem .6rem .4rem; }

#more .box ul {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

#more .box ul li {
  width: 100%;
  box-sizing: border-box;
  padding: .25rem .2rem;
  border-bottom: 1px dotted rgba(101, 245, 255, 0.2); }

#more .box ul li .time {
  color: #65f5ff;
  font-size: .26rem; }

#more .box ul li .mes {
  color: #65f5ff;
  font-size: .3rem;
  font-weight: bold; }

#more .box ul li .mes span {
  color: #e7cb59;
  margin: 0 .1rem; }

#more .close {
  width: .96rem;
  height: 1rem;
  position: absolute;
  left: 50%;
  margin-left: -0.48rem;
  top: 100%; }

#more .close > img {
  width: 100%; }
