@import "var";
@import 'mixin';

.tab {
    width: 3.76rem;
    height: 0.6rem;
    margin: 0.76rem auto;
    border-radius: 0.3rem;
    border: solid 0.02rem #32f3ff;
    color: #32f3ff;
    font-size: 0.24rem;

    li {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        line-height: 0.6rem;

        &:first-child {
            border-radius: 0.25rem 0 0 0.25rem;
        }

        &:last-child {
            border-radius: 0 0.25rem 0.25rem 0;
        }

        &.active {
            background: #32f3ff;
            color: #000000;
        }
    }
}

.exchange-goods {
    width: 6.37rem;
    height: 8.36rem;
    background: url("../image/exchange-upload-goods/changeSelect.png") no-repeat top center;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 0.4rem 0.12rem;
    box-sizing: border-box;

    .exchange-goods-info {
        width: 100%;
        height: 1.9rem;
        border-bottom: 1px dashed #7dc4d4;
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        align-items: center;
        -webkit-align-items: center;
        padding: 0.26rem;
        box-sizing: border-box;

        &.active {
            .isSelected {
                .selected-goods {
                    display: block;
                }
            }
        }

        .isSelected {
            width: 0.26rem;
            height: 0.26rem;
            border-radius: 100%;
            border: solid 0.01rem #32f3ff;
            background: transparent;
            margin-right: 0.25rem;

            .selected-goods {
                width: 0.12rem;
                height: 0.12rem;
                border-radius: 100%;
                background-color: #32f3ff;
                margin: 0.065rem;
                display: none;
            }
        }

        .exchange-goods-thumb {
            width: 1.39rem;
            height: 1.39rem;
            margin-right: 0.3rem;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .exchange-goods-desc {
            width: 3.4rem;
            height: 100%;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            justify-content: center;
            -webkit-justify-content: center;

            .release-time {
                width: 100%;
                display: flex;
                display: -webkit-flex;
                justify-content: flex-end;
                -webkit-justify-content: flex-end;
                align-items: center;
                -webkit-align-items: center;
                margin-bottom: 0.12rem;

                .release-time-text1 {
                    color: #65f5ff;
                    font-size: 0.3rem;
                    margin-right: 0.2rem;
                }

                .release-time-text2 {
                    color: #65f5ff;
                    font-size: 0.24rem;
                }
            }

            .bean-num {
                width: 100%;
                display: flex;
                display: -webkit-flex;
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
                align-items: center;
                -webkit-align-items: center;

                .bean-num-text1 {
                    color: #65f5ff;
                    font-size: 0.3rem;
                    margin-right: 0.2rem;
                }

                .bean-num-text2 {
                    color: #65f5ff;
                    font-size: 0.24rem;
                }
            }
        }

    }

    .exchange-goods-info:last-child {
        border-bottom: none;
    }
}


.upload-goods {
    width: 6.37rem;
    height: 7.96rem;
    background: url("../image/exchange-upload-goods/uploadSelect.png") no-repeat top center;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 0.56rem 0.24rem 0.7rem;
    box-sizing: border-box;

    .upload-goods-title {
        width: 3.42rem;
        height: 0.56rem;
        background-color: rgba(101, 245, 255, 0.4);
        margin: 0 auto 0.58rem;
        color: #32f3ff;
        font-size: 0.24rem;
        text-align: center;
        line-height: 0.56rem;
    }

    .upload-goods-selected {
        padding: 0 0.3rem;
        box-sizing: border-box;
        height: 1.56rem;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center;
        margin-bottom: 0.53rem;

        .upload-goods-thumb {
            width: 1.56rem;
            height: 1.56rem;
            position: relative;
            &.active{
                .upload-goods-isSelected{
                    display: block;
                }
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
            .upload-goods-isSelected{
                width: 0.4rem;
                height: 0.4rem;
                position: absolute;
                right: 0;
                bottom: 0;
                display: none;
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }

    .details-info {
        height: 0.83rem;
        width: 100%;
        border-bottom: solid 1px rgba(125, 196, 212, 0.2);
        padding: 0.18rem 0.21rem;
        box-sizing: border-box;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center;

        .details-info-title {
            width: 1.74rem;
            height: 100%;
            line-height: 0.47rem;
            text-align: right;
            color: #32f3ff;
            font-size: 0.24rem;
        }

        .details-info-content {
            width: 3.5rem;
            height: 0.56rem;
            background-color: rgba(101, 245, 255, 0.1);
            line-height: 0.56rem;
            text-align: left;
            padding-left: 0.26rem;
            box-sizing: border-box;
            color: #65f5ff;
            font-size: 0.24rem;
            > input {
                width: 100%;
                height: 100%;
                background-color: transparent;
                outline: none;
                border: none;
                color: #65f5ff;
                font-size: 0.24rem;
            }
        }
    }
}

.confirm-button {
    width: 4.08rem;
    height: 0.74rem;
    margin: 0.9rem auto 1rem;
    background: url("../image/exchange-upload-goods/changeButton.png") no-repeat top center;
    background-size: 100% 100%;
}