@import "common.scss";
@import "var";
@import "mixin";

img {
  @include imgBlock;
}

html {
  @include percentage100;
  @include overflow;
}

body {
  @include percentage100;
  @include overflow;
  background: url("../image/top.png"), url("../image/bis-bg.png");
  background-size: 100%, 100% 100%;
  background-repeat: no-repeat;
}

.rollout {
  width: 4.1rem;
  height: 1.32rem;
  @include auto;
  margin-top: 0.73rem;
  margin-bottom: 0.4rem;
  > img {
    @include imgBlock;
  }
}

.listBox {
  width: 6.4rem;
  height: 7.2rem;
  padding: 0.28rem 0.26rem;
  box-sizing: border-box;
  color: $theme;
  font-size: $fontSize;
  @include auto;
  background: url("../image/rolloutlogin.png") center / 100% 100%;
}

::-webkit-input-placeholder {
  color: #65f5ff;
}

.list {
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.01rem dashed #7dc4d4;
  color: $theme;
  h2 {
    font-weight: normal;
    width: 1.8rem;
    height: 0.56rem;
    text-align: right;
    line-height: 0.56rem;
  }
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4.1rem;
    height: 0.56rem;
    color: $theme;
    box-sizing: border-box;
    line-height: 0.56rem;
  }
}

.list:last-of-type {
  border: none;
}

.btn {
  border: none;
  outline: none;
  width: 1.2rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  background: $theme;
  font-size: 0.18rem;
  color: #000000;
  @include borderRadius(0.2rem)
}

.firstBox {
  width: 6.1rem;
  height: 1.76rem;
  margin: 0.5rem auto 0.6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  > li {
    width: 1.7rem;
    height: 0.7rem;
    > a {
      display: block;
      @include percentage100;
    }
  }
  > li:first-of-type {
    @include backgroundCenter100('../image/my/rcqzr.png')
  }
  > li:nth-of-type(2) {
    @include backgroundCenter100('../image/my/jjdzr.png')
  }
  > li:nth-of-type(3) {
    @include backgroundCenter100('../image/my/xfqzr.png')
  }
  > li:nth-of-type(4) {
    @include backgroundCenter100('../image/my/zmsj.png')
  }
  > li:nth-of-type(5) {
    @include backgroundCenter100('../image/my/zmjjbb.png')
  }
  > li:nth-of-type(6) {
    @include backgroundCenter100('../image/my/zmgg.png')
  }
}

.secondBox {
  width: 6.1rem;
  height: 0.7rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  > li {
    width: 1.7rem;
    height: 0.7rem;
    > a {
      display: block;
      @include percentage100;
    }
  }
  > li:first-of-type {
    @include backgroundCenter100('../image/my/sj.png')
  }
  > li:nth-of-type(2) {
    @include backgroundCenter100('../image/my/wdtd.png')
  }
  > li:nth-of-type(3) {
    @include backgroundCenter100('../image/my/xx.png')
  }

}