html, body {
  width: 100%;
  height: 100%; }

body {
  background: rgba(0, 0, 0, 0.8) url("../image/bis-bgs.png") center/100% 100%; }

.nav {
  height: 1rem;
  border-bottom: 0.01rem solid #65f5ff;
  padding: 0 0.28rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); }

.nav > li {
  height: 100%;
  line-height: 1rem;
  flex-grow: 1;
  font-size: 0.28rem;
  color: #65f5ff;
  text-align: center;
  position: relative; }

.nav > li.hot::after {
  content: '';
  width: 100%;
  height: 0.08rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../image/ourteam/ourteamtips.png") center/cover; }

main {
  min-height: 1rem;
  width: 100%; }

.storeBox > li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.28rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #65f5ff;
  font-size: 0.24rem;
  background-color: rgba(50, 243, 255, 0.1);
  border-bottom: 0.01rem dotted #65f5ff; }

.storeBox > li > time {
  color: rgba(50, 243, 255, 0.5); }

.storeBox > li:last-of-type {
  border-bottom: none; }

.selectList {
  width: 5.3rem;
  height: 4rem;
  margin: 2rem auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.selectList > li {
  width: 2.3rem;
  height: 0.92rem; }

.selectList > li > a {
  display: block;
  width: 100%;
  height: 100%; }

.selectList > li:first-of-type {
  background: url(../image/ourteam/fqjc.png) center/100% 100%; }

.selectList > li:nth-of-type(2) {
  background: url(../image/ourteam/cjjc.png) center/100% 100%; }

.selectList > li:nth-of-type(3) {
  background: url(../image/ourteam/fqpk.png) center/100% 100%; }

.selectList > li:nth-of-type(4) {
  background: url(../image/ourteam/cjpk.png) center/100% 100%; }

.selectList > li:nth-of-type(5) {
  background: url(../image/ourteam/tdly.png) center/100% 100%; }

.selectList > li:nth-of-type(6) {
  background: url(../image/ourteam/tghy.png) center/100% 100%; }
