@import "var";
@import "mixin";

.rollout {
  width: 3.1rem;
  height: 1.25rem;
  @include auto;
  margin-top: 0.73rem;
  margin-bottom: 0.4rem;
  > img {
    @include imgBlock;
  }
}

html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
// 640*390
.bg{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-image: url("../image/bis-bgs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.form {
  width: 6.4rem;
  height: auto;
  padding: 0.28rem 0.26rem;
  box-sizing: border-box;
  color: $theme;
  font-size: $fontSize;
  @include auto;
  background: url("../image/rolloutlogin.png") center / 100% 100%;
}

::-webkit-input-placeholder {
  color: #65f5ff;
}

.formControl {
  height: 0.88rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.01rem dashed #7dc4d4;
  color: $theme;
  label {
    font-weight: bold;
    width: 1.6rem;
    text-align: right;
  }
  input {
    width: 3.8rem;
    height: 0.56rem;
    outline: none;
    color: $theme;
    background-color: #22201f;
    border: none;
    padding:0 0.2rem ;
    box-sizing: border-box;
  }
}
.formControl > div{
  display: flex;
  width: 3.8rem;
  justify-content: space-between;
  .items{
    padding-left: 0.4rem;
    position: relative;
  }
  .items::before{
    content: '';
    width: 0.24rem;
    height: 0.24rem;
     position: absolute;
    left: 0;
    top: 0.05rem;
    border-radius: 50%;
    border:0.01rem solid $theme
  }
  .items.hot::before{
    content: 'â—';
    font-size: 0.23rem;
    text-align: center;
    line-height: 0.22rem;
  }
  > .up{
    height: 0.56rem;
    width: 1.27rem;
    text-align: center;
    line-height: .56rem;
    font-size: .24rem;
    color: #32f3ff;
    font-weight:bold;
    background-color: #2a6367;
  }
  .imgbox{
    width: 1.3rem;
    height: 0.56rem;
    overflow: hidden;
    > img {
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  .selectCity {
    width: 100%;
    height: .56rem;
    background-color:#131818;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .city {
      border-radius: 5px;
      width: 30%;
      height: .56rem;
      text-align: center;
      border: 1px solid #4db4bb;
      color: #4db4bb;
      display: flex;
      font-size: .2rem;
      box-sizing: border-box;
      > span {
        line-height: .56rem;
        &:nth-child(1) {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 70%;
          display: block;
          color: #4db4bb;
        }
        &:nth-child(2) {
          width: 30%;
          color: #4db4bb;
          text-align: center;
          display: block;
          position: relative;
          > img{
            width: 60%;
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }
}
.formControl:last-of-type {
  border-bottom: none;
  > div {
    display: flex;
    width: 3.8rem;
    justify-content: space-between;
    > input {
      width: 2.1rem;
    }
    > div {
      height: 0.56rem;
      width: 1.5rem;
      text-align: center;
      line-height: .56rem;
      font-size: .24rem;
      color: #32f3ff;
      font-weight:bold;
      background-color: #2a6367;
    }
  }
}

.jingImg {
  width: 4.4rem;
  height: 1.68rem;
  margin: 0.8rem auto 0.7rem;
}

#submit {
  width: 4.1rem;
  height: 0.74rem;
  display: block;
  outline: none;
  border: none;
  @include auto;
  margin: 0.7rem auto;
  background-image: url("../image/clicksign.png") ;
  background-size: 100% 100%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.zhu {
  color: $theme;
  opacity: .5;
  font-size: .24rem;
  text-align: center;
  margin: .2rem 0;
}
