body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background-image: url("../../static/image/bis-bg.png");
  background-size: 100% 100%;
  background-position: center; }
  body .top {
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute; }
  body .singin {
    width: 4.42rem;
    display: block;
    margin: .7rem auto; }
  body #code {
    width: 3.94rem;
    height: 4.08rem;
    background-image: url("../../static/image/mabox.png");
    background-size: 100%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block; }
    body #code > img {
      width: 3.5rem;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: block; }
