@import "var";
@import "mixin";
html , body{
  @include percentage100;
  overflow: hidden;
}
img{
  width: 100%;
  height: 100%;
  display: block;
}
body{
  background-image: url("../image/bis-bg.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.rollout {
  width: 4.1rem;
  height: 1.32rem;
  @include auto;
  margin-top: 0.73rem;
  margin-bottom: 0.4rem;
  > img {
    @include imgBlock;
  }
}

// 640*390

.form {
  width: 6.4rem;
  height: auto;
  padding: 0.28rem 0.26rem;
  box-sizing: border-box;
  color: $theme;
  font-size: $fontSize;
  @include auto;
  background: url("../image/rolloutlogin.png") center / 100% 100%;
}

::-webkit-input-placeholder {
  color: #65f5ff;
}

.formControl {
  height: 0.88rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.01rem dashed #7dc4d4;
  color: $theme;
  label {
    font-weight: bold;
    width: 1.2rem;
    text-align: right;
  }
  input {
    width: 4.1rem;
    height: 0.56rem;
    outline: none;
    color: $theme;
    background-color: #22201f;
    border: none;
    padding: 0.2rem 0 0.2rem 0.26rem;
    box-sizing: border-box;
  }
}
.formControl > div{
  display: flex;
  width: 4.1rem;
  justify-content: space-between;
  .items{
    padding-left: 0.4rem;
    position: relative;
  }
  .items::before{
    content: '';
    width: 0.24rem;
    height: 0.24rem;
     position: absolute;
    left: 0;
    top: 0.05rem;
    border-radius: 50%;
    border:0.01rem solid $theme
    /*background-image: url("../image/dldj/nook.png");
    background-size: 95% 95%;
    background-position: center;*/
  }
  .items.hot::before{
    content: 'â—';
    font-size: 0.23rem;
    text-align: center;
    line-height: 0.22rem;
    //background-image: url("../image/dldj/ok.png");
  }
}
.formControl:last-of-type {
  border-bottom: none;
  > div {
    display: flex;
    width: 4.1rem;
    justify-content: space-between;
    > input {
      width: 2.7rem;
    }
    > a {
      display: block;
      width: 1.27rem;
      height: 0.56rem;
    }
  }
}

.jingImg {
  width: 4.4rem;
  height: 1.68rem;
  margin: 0.8rem auto 0.7rem;
}

#submit {
  width: 4.1rem;
  height: 0.74rem;
  display: block;
  outline: none;
  border: none;
  @include auto;
  margin-top: 0.7rem;
  background: url("../image/dldj/confirm.png") center / 100% 100%;
}