html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

#bg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  overflow: hidden;
  background-image: url("../../static/image/bis-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#safe {
  padding-top: .64rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

#safe #content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

#safe #content .header {
  height: 2.8rem;
  box-sizing: border-box;
  border-top: 1px solid #49b2b9;
  border-bottom: 1px solid #49b2b9;
  background-color: #0d0706; }

#safe #content .header .face {
  width: 7rem;
  height: 1.6rem;
  margin: .2rem auto 0 auto;
  display: flex; }

#safe #content .header .face .left {
  width: 33%; }

#safe #content .header .face .left .head {
  height: 1.6rem;
  box-sizing: border-box;
  width: 1.6rem;
  border: 1px solid #49b2b9;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url("../../static/image/person.png");
  background-size: cover;
  background-position: center; }

#safe #content .header .face .right {
  width: 67%; }

#safe #content .header .face .right .name {
  height: 1.25rem;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  border-bottom: 1px dotted rgba(101, 245, 255, 0.3); }

#safe #content .header .face .right .name a {
  display: flex;
  line-height: 1.25rem;
  justify-content: space-between;
  width: 100%;
  height: 100%; }

#safe #content .header .face .right .name a > span:nth-child(1) {
  width: 50%;
  color: #65f5ff;
  font-size: .3rem; }

#safe #content .header .face .right .name a > span:nth-child(2) {
  color: #65f5ff;
  font-size: .3rem; }

#safe #content .header .dou {
  width: 7rem;
  height: 1rem;
  line-height: 1rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between; }

#safe #content .header .dou .left {
  width: 50%;
  font-size: .24rem;
  color: #65f5ff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold; }

#safe #content .header .dou .left span {
  font-size: .36rem;
  color: #65f5ff; }

#safe #content .header .dou .right {
  width: 50%;
  box-sizing: border-box;
  text-align: right; }

#safe #content .header .dou .right a {
  display: inline-block;
  width: 1.65rem;
  height: .52rem;
  background-color: #32f3ff;
  border-radius: .25rem;
  font-size: .24rem;
  line-height: .52rem;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: .25rem auto; }

#safe #content .record {
  height: 5.6rem;
  margin-top: .8rem; }

#safe #content .record > img {
  width: 100%;
  display: block;
  margin-bottom: .4rem; }

#safe #content .record .list {
  height: 4rem;
  overflow-y: scroll;
  overflow-x: hidden; }

#safe #content .record .list > li {
  height: 1rem;
  background-color: rgba(101, 245, 255, 0.15);
  border-bottom: 1px dotted rgba(101, 245, 255, 0.5);
  box-sizing: border-box; }

#safe #content .record .list > li .a {
  height: 1rem;
  width: 7rem;
  margin: 0 auto;
  color: #65f5ff;
  justify-content: space-between;
  display: flex;
  line-height: 1rem;
  font-size: .24rem; }

.nav {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff; }

.nav > ul {
  width: 100%;
  height: 100%; }

.nav > ul > li {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center; }

.nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #1a2124; }

.nav > ul > li > a.active {
  color: #ca7e11;
  font-weight: bold; }

.nav > ul > li > a.active > h1 {
  font-weight: bold; }

.nav > ul > li > a > img {
  height: 80%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.nav > ul > li > a > div {
  height: 60%; }

.nav > ul > li > a > div span {
  font-size: 30px;
  line-height: .6rem; }

.nav > ul > li > a > h1 {
  height: 60%;
  font-weight: normal;
  font-size: 14px;
  line-height: .4rem; }
