body {
  font-size: 14px; }

ul, li, a, p, body, html, ol, pre, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-decoration: none; }

* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

p {
  max-height: 9999999px; }

input, textarea {
  -webkit-user-select: text !important; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url("../../static/image/brand.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#brand {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

#brand .top {
  width: 100%;
  display: block;
  left: 0;
  top: 0;
  position: absolute; }

#brand .rollout {
  width: 2.9rem;
  height: 1.24rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.76rem; }

#brand .rollout > img {
  width: 100%;
  height: 100%;
  display: block; }

#brand .pk {
  width: 100%;
  display: block;
  margin-top: -0.2rem; }

#brand .content {
  width: 100%;
  height: calc(100% - 6.7rem);
  overflow-y: scroll; }

#brand .content ul.list {
  width: 6.35rem;
  height: auto;
  margin: 0 auto; }

#brand .content ul.list > li {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px dotted rgba(101, 245, 255, 0.3);
  box-sizing: border-box; }

#brand .content ul.list > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; }

#brand .content ul.list > li > a > span {
  color: #65f5ff;
  font-size: 0.26rem; }

#brand .content ul.list > li > a > span:nth-child(1) {
  width: 60%; }

#brand .content ul.list > li > a > span:nth-child(2) {
  width: .8rem;
  text-align: right; }

.nav {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff; }

.nav > ul {
  width: 100%;
  height: 100%; }

.nav > ul > li {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center; }

.nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #1a2124; }

.nav > ul > li > a.active {
  color: #ca7e11;
  font-weight: bold; }

.nav > ul > li > a.active > h1 {
  font-weight: bold; }

.nav > ul > li > a > img {
  height: 80%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.nav > ul > li > a > div {
  height: 60%; }

.nav > ul > li > a > div span {
  font-size: 30px;
  line-height: .6rem; }

.nav > ul > li > a > h1 {
  height: 60%;
  font-weight: normal;
  font-size: 14px;
  line-height: .4rem; }
