@import "common.scss";
@import "mixin";

html,body{
  @include percentage100;
  overflow: hidden;
}
.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url("../../static/image/guess.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.top-img {
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index: 0;
}
#brand{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .top {
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
  }
  .rollout {
    width: 3.23rem;
    height: 1.24rem;
    @include auto;
    margin-top: 0.76rem;
    > img {
      @include imgBlock;
    }
  }
  .content{
    width: 100%;
    height: calc(100% - 3.6rem);
    overflow-y: scroll;
    margin-top: .6rem;
    ul.list{
      width: 7rem;
      height: auto;
      margin:0 auto;
      > li{
        width: 100%;
        border-bottom:  1px dotted rgba(101,245,255,0.3);
        box-sizing: border-box;
        display: flex;
        height: 2.4rem;
        padding: .3rem 0;
        .left {
          width: 37%;
          height: 100%;
          position: relative;
          .img-box {
            margin:0 auto;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: .3rem;
            box-sizing: border-box;
            border: .02rem solid #32f3ff;
            overflow: hidden;
            > img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .right{
          width: 63%;
          height: 100%;
          overflow: hidden;
          h1{
            color: #32f3ff;
            font-size: .3rem;
            height: .48rem;
            line-height: .48rem;
            letter-spacing: .05rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          h2{
            color: #32f3ff;
            font-size: .24rem;
            height: .48rem;
            opacity: .8;
            line-height: .48rem;
            letter-spacing: .05rem;
            margin-top: .1rem;
          }
          .sel {
            width: 100%;
            height: .4rem;
            display: flex;
            justify-content: flex-start;
            margin-top: .25rem;
            a {
              width: 1.27rem;
              height: 100%;
              margin-right: .1rem;
              > img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.nav {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  > ul {
    width: 100%;
    height: 100%;
    > li {
      width: 20%;
      float: left;
      height: 100%;
      text-align: center;
      > a {
        display: block;
        width: 100%;
        height: 100%;
        color: #1a2124;
        &.active{
          color:#ca7e11;
          font-weight: bold;
          > h1 {
            font-weight: bold;
          }
        }
        > img {
          height: 80%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
        > div {
          height: 60%;
          span {
            font-size: 30px;
            line-height: .6rem;
          }
        }
        > h1 {
          height: 60%;
          font-weight: normal;
          font-size: 14px;
          line-height: .4rem;
        }
      }

    }
  }
}