body {
  font-size: 14px; }

ul, li, a, p, body, html, ol, pre, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-decoration: none; }

* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

p {
  max-height: 9999999px; }

input, textarea {
  -webkit-user-select: text !important; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url("../../static/image/guess.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.top-img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

#brand {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

#brand .top {
  width: 100%;
  display: block;
  left: 0;
  top: 0;
  position: absolute; }

#brand .rollout {
  width: 3.23rem;
  height: 1.24rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.76rem; }

#brand .rollout > img {
  width: 100%;
  height: 100%;
  display: block; }

#brand .content {
  width: 100%;
  height: calc(100% - 3.6rem);
  overflow-y: scroll;
  margin-top: .6rem; }

#brand .content ul.list {
  width: 7rem;
  height: auto;
  margin: 0 auto; }

#brand .content ul.list > li {
  width: 100%;
  border-bottom: 1px dotted rgba(101, 245, 255, 0.3);
  box-sizing: border-box;
  display: flex;
  height: 2.4rem;
  padding: .3rem 0; }

#brand .content ul.list > li .left {
  width: 37%;
  height: 100%;
  position: relative; }

#brand .content ul.list > li .left .img-box {
  margin: 0 auto;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: .3rem;
  box-sizing: border-box;
  border: .02rem solid #32f3ff;
  overflow: hidden; }

#brand .content ul.list > li .left .img-box > img {
  width: 100%;
  height: 100%; }

#brand .content ul.list > li .right {
  width: 63%;
  height: 100%;
  overflow: hidden; }

#brand .content ul.list > li .right h1 {
  color: #32f3ff;
  font-size: .3rem;
  height: .48rem;
  line-height: .48rem;
  letter-spacing: .05rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

#brand .content ul.list > li .right h2 {
  color: #32f3ff;
  font-size: .24rem;
  height: .48rem;
  opacity: .8;
  line-height: .48rem;
  letter-spacing: .05rem;
  margin-top: .1rem; }

#brand .content ul.list > li .right .sel {
  width: 100%;
  height: .4rem;
  display: flex;
  justify-content: flex-start;
  margin-top: .25rem; }

#brand .content ul.list > li .right .sel a {
  width: 1.27rem;
  height: 100%;
  margin-right: .1rem; }

#brand .content ul.list > li .right .sel a > img {
  width: 100%; }

.nav {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff; }

.nav > ul {
  width: 100%;
  height: 100%; }

.nav > ul > li {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center; }

.nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #1a2124; }

.nav > ul > li > a.active {
  color: #ca7e11;
  font-weight: bold; }

.nav > ul > li > a.active > h1 {
  font-weight: bold; }

.nav > ul > li > a > img {
  height: 80%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.nav > ul > li > a > div {
  height: 60%; }

.nav > ul > li > a > div span {
  font-size: 30px;
  line-height: .6rem; }

.nav > ul > li > a > h1 {
  height: 60%;
  font-weight: normal;
  font-size: 14px;
  line-height: .4rem; }
