body {
  font-size: 14px; }

ul, li, a, p, body, html, ol, pre, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-decoration: none; }

* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

p {
  max-height: 9999999px; }

input, textarea {
  -webkit-user-select: text !important; }

img {
  width: 100%;
  height: 100%;
  display: block; }

html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../image/top.png"), url("../image/bis-bg.png");
  background-size: 100%, 100% 100%;
  background-repeat: no-repeat; }

.rollout {
  width: 4.1rem;
  height: 1.32rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.73rem;
  margin-bottom: 0.4rem; }

.rollout > img {
  width: 100%;
  height: 100%;
  display: block; }

.listBox {
  width: 6.4rem;
  height: 7.2rem;
  padding: 0.28rem 0.26rem;
  box-sizing: border-box;
  color: #32f3ff;
  font-size: 0.24rem;
  margin-left: auto;
  margin-right: auto;
  background: url("../image/rolloutlogin.png") center/100% 100%; }

::-webkit-input-placeholder {
  color: #65f5ff; }

.list {
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.01rem dashed #7dc4d4;
  color: #32f3ff; }

.list h2 {
  font-weight: normal;
  width: 1.8rem;
  height: 0.56rem;
  text-align: right;
  line-height: 0.56rem; }

.list .listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.1rem;
  height: 0.56rem;
  color: #32f3ff;
  box-sizing: border-box;
  line-height: 0.56rem; }

.list:last-of-type {
  border: none; }

.btn {
  border: none;
  outline: none;
  width: 1.2rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  background: #32f3ff;
  font-size: 0.18rem;
  color: #000000;
  border-radius: 0.2rem; }

.firstBox {
  width: 6.1rem;
  height: 1.76rem;
  margin: 0.5rem auto 0.6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between; }

.firstBox > li {
  width: 1.7rem;
  height: 0.7rem; }

.firstBox > li > a {
  display: block;
  width: 100%;
  height: 100%; }

.firstBox > li:first-of-type {
  background: url(../image/my/rcqzr.png) center/100% 100%; }

.firstBox > li:nth-of-type(2) {
  background: url(../image/my/jjdzr.png) center/100% 100%; }

.firstBox > li:nth-of-type(3) {
  background: url(../image/my/xfqzr.png) center/100% 100%; }

.firstBox > li:nth-of-type(4) {
  background: url(../image/my/zmsj.png) center/100% 100%; }

.firstBox > li:nth-of-type(5) {
  background: url(../image/my/zmjjbb.png) center/100% 100%; }

.firstBox > li:nth-of-type(6) {
  background: url(../image/my/zmgg.png) center/100% 100%; }

.secondBox {
  width: 6.1rem;
  height: 0.7rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.secondBox > li {
  width: 1.7rem;
  height: 0.7rem; }

.secondBox > li > a {
  display: block;
  width: 100%;
  height: 100%; }

.secondBox > li:first-of-type {
  background: url(../image/my/sj.png) center/100% 100%; }

.secondBox > li:nth-of-type(2) {
  background: url(../image/my/wdtd.png) center/100% 100%; }

.secondBox > li:nth-of-type(3) {
  background: url(../image/my/xx.png) center/100% 100%; }
